.App {
  min-height: 100vh;
  color: white;
  background-color: #1f1f1f;
}

/* .panel {
  padding: 20px;
} */

.panel-child {
  padding: 30px;

  border-bottom: rgb(57, 70, 78) 1px solid;
  border-radius: 3px;
}  


.panel-left {
  border-right: rgb(57, 70, 78) 1px solid;
}

.panel-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: calc(100vh - 100px);
}

.code-snippet {
  padding: 20px;
  background-color: #282828;
  color: white;
  border-radius: 0.375rem;
  font-family: var(--bs-font-monospace);
}