.App {
  min-height: 100vh;
  color: white;
  background-color: #282c34;
}

.panel {
  padding: 20px;
}

.panel-child {
  width: 50%;
  float: left;
  padding: 20px;
}  

#download {
  margin: 20px;
  width: calc(100% - 40px);
  /* ancohr to bottom */
  position: absolute;
  bottom: 0;
  left: 0;
}